html, body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: black;
}

.template {
    height: 100px;
    padding-top: 200px;
    background: url("../img/fd-template.jpg") no-repeat;
    background-position: 50%;
    background-size: cover;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
}

.cliente-dados {
    display: grid;
    grid-template-columns: 140px auto;
    max-width: 1000px;
    height: 143px;
    padding: 5px;
    margin: auto;
    background-image: linear-gradient(to bottom, transparent 60%, rgb(29, 27, 12) 1%, #e8ee99);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.cliente-logo {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background: url("../img/logo.png") no-repeat;
    background-size: contain;
    background-position: 50%;
    background-color: #88837a;
}

.div-cliente{
    height: 30px;
    margin: auto -10px auto -5px;
    padding: 5px;
    background-color: #88837ad8;
    border-top-right-radius: 5px;
}

.cliente-contato {
    padding: 50px 5px 0px 5px;
}

.cliente-nomeFantasia {
    height: 100%;
    width: 95%;
    margin: auto;
    background: url("../img/nomeFantasia.png") no-repeat;
    background-size: contain;
    background-position: 50%;
}

h2 {
    max-width: 180px;
    font-size: 15px;
    font-weight: lighter;
    text-transform: uppercase;
    padding: 5px;
    color: white;
    margin: 0px;
}

p{
    font-size: 12px;
    margin: 0px;
}

.sistema {
    max-width: 1000px;
    margin: 60px auto;
    border: 2px solid white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

footer {
    height: 30px;
    line-height: 30px;
    font-size: 8px;
    text-align: center;
    color: aliceblue;
    background-color: #080808;
}
